/* Разметка по-умолчанию -- это одна табличка, в которой все столбцы схлопываются по ширине
 * Далее родитель должен её спозиционировать. Родителем может быть дополнительный дивчик
 * внутри упражнения, который задаст индивидуальную разметку, или повторяющийся компонент
 * типа TextingColumn или TextingGrid. Такой компонент может задать ширины столбцам внутри
 * рассматриваемого Texting, создать несколько колонок, вывести их в виде сетки или плитки,
 * например.
 *
 * Ещё одна практика -- компонент TextingTable. Он превращает рассматриваемый Texting
 * в строки таблицы задавая одинаковую ширину колонкам по ширине самой большой из них.
 * Таким образом не нужно задавать ширину вручную. Смотрим пример в упражнении Exercise1x17.
 */

.texting {
    border-top: var(--row-margin) solid transparent;
    display: table;
    vertical-align: top;
    border-collapse: collapse;
    width: fit-content;
    text-align: left;
}

.texting:first-child {
    border-top: none;
}
    .texting__audio {
        display: table-cell;
        vertical-align: middle;
        border-right: 6px solid transparent;
        width: 1px;
    }
        .texting__player {
            vertical-align: top;
        }

    .texting__title {
        display: table-cell;
        vertical-align: middle;
        border-right: var(--cell-padding) solid transparent;
        text-align: right;
    }

    .texting__audio + .texting__title {
        text-align: center;
    }

    .texting__field {
        display: table-cell;
        vertical-align: middle;
        width: 160px;
    }
        .texting__input {
            vertical-align: top;
            width: 100%;
            height: auto;
            padding: 0 10px 2px;
            background-color: #FFFFFF; /* reset grey background in some cases, such as <select> */
            background-clip: padding-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: right 4px center;
            border: 2px solid var(--input-border);
            outline: none;
            border-radius: 4px;
            font-family: var(--font-thai);
            font-size: 22px; /* not less than 16px (otherwise mobile browsers will zoom in on focus) */
            line-height: 34px;
            color: #000000;
            opacity: 1; /* reset select:disabled default fade on iOS */
            -webkit-tap-highlight-color: transparent;
            transition: background-color var(--transition-hover),
            border-color var(--transition-hover);
        }

        .texting__input::placeholder {
            opacity: 1; /* reset opacity drop Firefox */
            color: var(--placeholder-color);
        }

        .texting__input:hover {
            border-color: var(--input-border-hover-and-focus);
        }

        .texting__input:focus-visible {
            border-color: var(--input-border-hover-and-focus);
            box-shadow: 0 0 0 1px var(--input-border-hover-and-focus);
            transition: none;
        }

    .texting__input--success,
    .texting__input--success:hover {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgdmlld0JveD0iMCAwIDgwMCA4MDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE2My4wNTQgNDQyLjI5TDMwNS41MjcgNTg0Ljc1N0w2MjMuNjE3IDI2Ni42NjciIHN0cm9rZT0iIzAwQkUwMCIgc3Ryb2tlLXdpZHRoPSI4My4zMzMzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
        color: var(--success);
        border-color: var(--success);
    }

    .texting__input--success:focus-within,
    .texting__input--success:focus-within:hover {
        box-shadow: 0 0 0 1px var(--success);
        border-color: var(--success);
    }

    .texting__answer {
        display: table-cell;
        vertical-align: middle;
        border-left: var(--cell-padding) solid transparent;
        position: relative;
    }
        .texting__show-answer {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            transition: opacity 100ms ease,
                        visibility 100ms ease;
        }


        /* Ответ нужен на странице, даже если он временно скрыт.
           Это нужно, чтобы зарезервировать место на странице.
           Чтобы, во-первых, ничего не скакало при показе ответа,
           а во-вторых, чтобы в табличкой разметке колонка с ответом
           заранее получила ширину по самому широкому из ответов.
           По-это именно opacity: 0 и visibility: hidden тута:
        */
        .texting__answer-content {
            min-width: 104px; /* Ширина "Показать ответ", чтобы не менее чем оно */
            opacity: 0;
            visibility: hidden;
            transition: opacity 100ms ease,
                        visibility 100ms ease;
        }

    .texting__answer--expanded {

    }
        .texting__answer--expanded .texting__show-answer {
            opacity: 0;
            visibility: hidden;
        }

        .texting__answer--expanded .texting__answer-content {
            opacity: 1;
            visibility: visible;
        }


