/* Sarabun сконфигурирован так, что содержит только тайские буквы */

@font-face {
    font-display: swap;
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: url('./../../assets/fonts/sarabun-v15-thai-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    src: url('./../../assets/fonts/sarabun-v15-thai-700.woff2') format('woff2');
}
