.burger {
    position: fixed;
    z-index: 90;
    right: 30px;
    bottom: 30px;
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background-color: #F3F3F3;
    box-shadow: 0 1px 2px 1px #EAEAEA;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.burger:hover {
    background-color: #EEEEEE;
}

.burger--expanded {
    box-shadow: none;
}
    .burger__icon {
        vertical-align: top;
        fill: #999999;
    }


@media (width < 740px) {

    .burger {
        right: var(--container-padding);
    }
}




@media (prefers-color-scheme: dark) {

    .burger {
        background-color: #414141;
        box-shadow: 0 1px 2px 1px #151515;
    }

    .burger:hover {
        background-color: #494949;
    }
        .burger__icon {
            fill: #BBBBBB;
        }
}
