.contains {
    position: fixed;
    z-index: 100;
    right: 30px;
    bottom: 120px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px 4px #EAEAEA;
    border-radius: 10px;
}
    .contains__scroll {
        overflow-y: auto;
        max-height: calc(100vh - 150px);
        padding: 28px 30px;
    }
        .contains__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
        }

        .contains__list {
            margin-top: 10px;
        }
            .contains__link {
                display: block;
                padding-top: 3px;
                padding-bottom: 3px;
                font-size: 16px;
                line-height: 22px;
                text-decoration: none;
                color: var(--link-color);
            }

            .contains__link:hover {
                color: #000000;
            }

            .contains__link--level-2 {

            }

            .contains__link--level-3 {
                padding-left: 4px;
                font-size: 15px;
                line-height: 20px;
            }
                .contains__link--level-3::before {
                    content: "∟";
                    font-family: Tahoma, sans-serif;
                    margin-right: 4px;
                    font-size: 14px;
                    vertical-align: top;
                    position: relative;
                    top: -4px;
                    font-weight: bold;
                }



@media (width < 740px) {

    .contains {
        /*position: fixed;*/
        /*z-index: 100;*/
        right: var(--container-padding);
        max-width: calc(100% - 2 * var(var(--container-padding)));
        /*bottom: 120px;*/
        /*background-color: #FFFFFF;*/
        /*box-shadow: 0 1px 10px 4px #EAEAEA;*/
        /*border-radius: 10px;*/
    }
        .contains__scroll {
            /*overflow-y: auto;*/
            /*max-height: calc(100vh - 150px);*/
            padding: 28px ;
        }
            .contains__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-weight: bold;*/
                /*font-size: 22px;*/
                /*line-height: 26px;*/
            }

            .contains__list {
                /*margin-top: 10px;*/
            }
                .contains__link {
                    /*display: block;*/
                    /*padding-top: 3px;*/
                    /*padding-bottom: 3px;*/
                    /*font-size: 16px;*/
                    /*line-height: 22px;*/
                    /*text-decoration: none;*/
                    /*color: var(--link-color);*/
                }

                .contains__link:hover {
                    /*color: #000000;*/
                }

                .contains__link--level-2 {

                }

                .contains__link--level-3 {
                    /*padding-left: 4px;*/
                    /*font-size: 15px;*/
                    /*line-height: 20px;*/
                }
                    .contains__link--level-3::before {
                        /*content: "∟";*/
                        /*font-family: Tahoma, sans-serif;*/
                        /*margin-right: 4px;*/
                        /*font-size: 14px;*/
                        /*vertical-align: top;*/
                        /*position: relative;*/
                        /*top: -4px;*/
                        /*font-weight: bold;*/
                    }
}


@media (prefers-color-scheme: dark) {

    .contains {
        background-color: #1E1E1E;
        box-shadow: 0 1px 10px 4px #151515;
    }
        .contains__link:hover {
            color: #EEEEEE;
        }

}
