.exercise {
    background-color: #F8F9FA;
    border: 1px solid #D9DADB;
    border-radius: 4px;
}
    .exercise__head {
        padding: 16px 40px;
        background-color: #F0F1F2;
        border-bottom: 1px solid #D9DADB;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        text-wrap: balance;
    }

    .exercise__entry {
        padding: 24px 40px;
        text-align: center;
        text-wrap: balance;
    }

    .exercise__entry + .exercise__entry {
        border-top: 1px solid #D9DADB;
    }



@media (width < 740px) {

    .exercise {
        /*background-color: #F8F9FA;*/
        /*border: 1px solid #D9DADB;*/
        /*border-radius: 4px;*/
    }
        .exercise__head {
            padding: 16px 20px;
            /*background-color: #F0F1F2;*/
            /*border-bottom: 1px solid #D9DADB;*/
            /*border-top-left-radius: 4px;*/
            /*border-top-right-radius: 4px;*/
            /*text-align: center;*/
            /*text-wrap: balance;*/
        }

        .exercise__entry {
            padding: 24px 20px;
            /*text-align: center;*/
            /*text-wrap: balance;*/
        }

        .exercise__entry + .exercise__entry {
            /*border-top: 1px solid #D9DADB;*/
        }
}
