.mini-player {
    display: flex;
    align-items: center;
}

.mini-player__button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.mini-player__button svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}
