@media ( 740px < width) {

    .exercise1x17 {
        display: table;
        vertical-align: top;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    .exercise1x17 .texting {
        display: table-row;
        border-top: var(--row-margin) solid transparent;
    }
        .exercise1x17 .texting:first-child {
            border-top: none;
        }

        .exercise1x17 .texting__title {
            text-align: right;
        }

        .exercise1x17 .texting__field {
            width: 160px;
        }

        .exercise1x17 .texting__answer {
            width: 220px;
        }
}
