.link-alike-button {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 4px 0;
    background-color: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    color: var(--action-color);
    text-align: center;
    text-decoration: underline dotted;
    text-underline-offset: 3px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: text-decoration-color var(--transition-hover);
}

.link-alike-button:hover {
    text-decoration-color: transparent;
}

.link-alike-button:active {
    translate: 0 1px;
    transition: none;
}
