@media ( 740px < width) {

    .exercise1x12 {

    }

    .exercise1x12 .texting {
      margin-left: auto;
      margin-right: auto;
    }
        .exercise1x12 .texting__title {
            width: 160px;
        }

        .exercise1x12 .texting__field {
            width: 120px;
        }
}
